.player___25Zg2{ 
    float:left;  
   // background:Red; 
    width:50%; 
    height:280px; 
} 
.configurator___26HkM{ 
    float:right; 
   // background:blue; 
    width:50%; 
    height:280px; 
} 